// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogBody {
font-family: Arial;
font-size:16px;
background-color:#222 !important;
padding:0px;
margin:0px;
min-width:1200px;
line-height: inherit !important;
}

.blogBody h1 {
font-family:Arial;
font-size:36px;
margin-top:0px !important;
margin-bottom:0px !important;
padding-top:10px;
letter-spacing:-0.08em;
}

.blogBody h2 {
font-family:Arial;
font-size:22px;
color:#777;
margin-top:0px;
letter-spacing:-0.06em;
}

.blogBody h3 {
font-family:Arial;
font-size:20px;
color:#FFF;
background-color:#3D82BF;
padding:8px;
border-radius: 3px;
text-shadow: -1px -1px 0 #2B5D8A;
}

.blogBody h6 {
font-size:12px;
color: #999;
margin-top:-10px;
margin-bottom:-5px;
letter-spacing:-0.01em;
}

.blogBody code {
font-family: monospace;
}

.blogBody .content {
width:700px;
padding-left:25px;
padding-right:25px;
padding-bottom:25px;
margin-left:auto;
margin-right:auto;
background-color:#FFF;
box-shadow: 0px 0px 10px #000;
}

.blogBody img {
display:block;
}

.blogBody p {
font-family:Georgia;
font-size:14px;
text-indent:30px;
margin-top:10px;
margin-bottom:10px;
}

.blogBody .tag {
display:inline;
background-color:#FC923A;
padding:3px;
margin-right:5px;
color:#fff;
font-size:10px;
}
